Repository hmcts/ccpay-scheduled-jobs, pull requests merged in 2021-04, with the labels that each got.

#22 Pay 4082 2.0
  build.gradle
  charts/payment-jobs/Chart.yaml
  charts/payment-jobs/requirements.yaml
  charts/payment-jobs/values.preview.template.yaml
  charts/payment-jobs/values.preview.yaml
  charts/payment-jobs/values.yaml
  config/owasp/suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-jobs-pr-22

#23 CVE Fixed for CVE-2016-5394 & CVE-2016-6798
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:fees-pay, prd:payment, rel:payment-jobs-pr-23

#24 Pay 4348 Jitpack
  .github/workflows/ci.yml
  .travis.yml
  build.gradle
  charts/payment-jobs/Chart.yaml
  config/owasp/suppressions.xml
  jitpack.yml
Labels: ns:fees-pay, prd:payment, rel:payment-jobs-pr-24

#25 cve fix
  build.gradle
Labels: ns:fees-pay, prd:payment, rel:payment-jobs-pr-25
